/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.wp-block-embedpress-embedpress iframe{
	max-width: 100%;
}
.ose-the-new-york-times iframe{
	min-height: 500px;
	max-height: 100%;
}
.block-editor-block-list__layout .wp-block figure,
.block-editor-block-list__layout .wp-block iframe,
{
	margin:0;
}
@media screen and (max-width: 782px) {
	.block-editor-block-list__layout .wp-block figure,
	.block-editor-block-list__layout .wp-block iframe,
	{
		height:250px;
	}
}
