/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
//.embedpress-gutenberg-wrapper iframe{
//	width: 100%;
//	height: 100%;
//}
.embedpress-gutenberg-wrapper {
	margin: 30px auto;
	iframe {
		max-width: 100%;
	}
}
.embedpress-gutenberg-wrapper.alignright{
	max-width: 100%;
}
.ose-the-new-york-times iframe{
	min-height: 500px;
	max-height: 100%;
}
body.page .flexia-wrapper > .content-area{
	padding: 0 !important;
}
.flexia-wrapper.flexia-container > .content-area {
	margin: 0 !important;
	.embedpress-gutenberg-wrapper {
		margin: 0 auto;
	}
}

@media only screen and (min-width: 482px) {
	.entry-content > .embedpress-gutenberg-wrapper.alignright,
	.entry-content > .embedpress-gutenberg-wrapper.alignleft,
	.embedpress-gutenberg-wrapper.alignright,
	.embedpress-gutenberg-wrapper.alignleft{
		max-width: 100%
	}
}

.clear::after{
	content: '';
	display: block;
	clear: both;
	min-height: 1px;
}

.embedpress-gutenberg-wrapper .alignleft,
.embedpress-gutenberg-wrapper .alignright,
.embedpress-gutenberg-wrapper .aligncenter{
	float: none;
	text-align: right;
}
.embedpress-gutenberg-wrapper .alignleft {
	text-align: left;
}
.embedpress-gutenberg-wrapper .aligncenter {
	clear: both;
	display: block;
	float: none;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.embedpress-gutenberg-wrapper .ose-embedpress-responsive {
	display: inline-block;
}
