/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
//.embedpress-gutenberg-wrapper iframe{
//	width: 100%;
//	height: 100%;
//}
.embedpress-gutenberg-wrapper {
	margin: 30px auto;
	iframe {
		max-width: 100%;
	}
}
.ose-the-new-york-times iframe{
	min-height: 500px;
	max-height: 100%;
}
body.page .flexia-wrapper > .content-area{
	padding: 0 !important;
}
.flexia-wrapper.flexia-container > .content-area {
	margin: 0 !important;
	.embedpress-gutenberg-wrapper {
		margin: 0 auto;
	}
}


