/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
//.embedpress-gutenberg-wrapper iframe{
//	width: 100%;
//	height: 100%;
//}
.embedpress-gutenberg-wrapper {
	margin: 30px auto;

	iframe {
		max-width: 100%;
	}
}

.embedpress-gutenberg-wrapper.alignright {
	max-width: 100%;
}

.ose-the-new-york-times iframe {
	min-height: 500px;
	max-height: 100%;
}

body.page .flexia-wrapper>.content-area {
	padding: 0 !important;
}

.flexia-wrapper.flexia-container>.content-area {
	margin: 0 !important;

	.embedpress-gutenberg-wrapper {
		margin: 0 auto;
	}
}

@media only screen and (min-width: 482px) {

	.entry-content>.embedpress-gutenberg-wrapper.alignright,
	.entry-content>.embedpress-gutenberg-wrapper.alignleft,
	.embedpress-gutenberg-wrapper.alignright,
	.embedpress-gutenberg-wrapper.alignleft {
		max-width: 100%
	}
}

.clear::after {
	content: '';
	display: block;
	clear: both;
	min-height: 1px;
}

.embedpress-gutenberg-wrapper .alignleft,
.embedpress-gutenberg-wrapper .alignright,
.embedpress-gutenberg-wrapper .aligncenter {
	float: none;
	display: block;
}

.embedpress-gutenberg-wrapper .alignright {
	text-align: right;
}

.embedpress-gutenberg-wrapper .alignleft {
	text-align: left;
}

.embedpress-gutenberg-wrapper .aligncenter {
	clear: both;
	display: block;
	float: none;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.embedpress-gutenberg-wrapper .ose-embedpress-responsive {
	display: inline-block;
}

.embedpress-gutenberg-wrapper {
	max-width: 100% !important;
}

.ep-first-video{
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
}

.ep-first-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.components-base-control__label {
	font-weight: 600;
}

.components-input-control__label {
	font-weight: 600;
}

.components-base-control__field,
.components-input-control__label {
	font-weight: 600;
}

label.components-truncate.components-text.components-input-control__label.em5sgkm4.ecfd-bd--d-eecc-1iznhho.em57xhy0 {
	font-weight: 600 !important;
}

.text-center {
	text-align: center !important;
}

.wp-block-embed.is-loading {
    align-items: center;
}

.css-vwt1e3 {
    margin: 0px 11px 0px!important;
}

.toolbar {
	display: none;
}

.ep-youtube__content__pagination .ep-prev, .ep-youtube__content__pagination .ep-next {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
  }

.ep__components-placeholder, .wp-block-embedpress-embedpress, .block-editor-block-list__block{
    clear: both!important;
}

.wp-block-embed.is-loading p {
    margin: 0!important;
}


/**
* NFT card frontend style
*/
.ose-opensea {
    height: 100%!important;
    width: 100%!important;
    min-width: 900px;
}
.alignleft .ose-opensea,  .alignright .ose-opensea, .aligncenter .ose-opensea{
    min-width: 900px;
    max-width: 900px!important;
}
.aligncenter .ose-opensea{
    margin: 0 auto;
    display: block!important;
}
.wp-block[data-align=right] {
    float: right;
}
.wp-block[data-align=left] {
    float: left;
}

.ep_nft_content_wrap.ep_nft__wrapper{
    display: grid;      
}

.ep_nft_content_wrap.ep_nft__wrapper,
.ep_nft_content_wrap.ep_nft_list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.ep_nft_content_wrap .ep_nft_item {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    transition: background 0.5s, border 0.5s, border-radius 0.5s, box-shadow 0.5s;
    box-shadow: 0 4px 15px rgba(0,0,0,.09);
    overflow: hidden;
    padding: 15px;
    position: relative;
    transition: .3s ease-in-out;
}
.ep_nft_content_wrap.ep_nft__wrapper.nft_items.ep-grid .ep_nft_item {
    display: flex;
    flex-direction: column;
}

 .ep_nft_content_wrap.ep_nft_list .ep_nft_item {
    justify-content: flex-start;
    align-items: flex-start;
}

 .ep_nft_content_wrap.ep_nft__wrapper.preset-3 .ep_nft_item .ep_nft_content {
    background-color: #edecf6e6;
}

 .ep_nft_content_wrap .ep_nft_thumbnail {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.ep_nft_content_wrap .ep_nft_thumbnail img {
    height: 340px;
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}

 .ep_nft_content .ep_nft_title {
    color: #333333;
    font-size: 16px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
    font-weight: 600 
}
.ep_nft_content {
    text-align: left;
}

 .ep_nft_content .ep_nft_price {
    color: #333333;
    font-size: 14px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    display: flex;
    font-weight: 600;
}
.ep_nft_content .ep_nft_price:first-child{
    margin-bottom: 10px;
}
span.eb_nft_currency {
    max-width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.eb_nft_currency svg {
    width: 100%;
    height: auto;
}

 .ep_nft_content .ep_nft_price_wrapper {
    min-height: 20px;
}


 .ep_nft_content .ep_nft_creator {
    color: #333333;
    font-size: 14px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

 .ep_nft_content .ep_nft_creator a {
    color: #3080E2;
    font-size: 14px;
    text-decoration: none;
}

 .ep_nft_content .ep_nft_creator img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

 .ep_nft_content .ep_nft_button button {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

 .ep_nft_content .ep_nft_button button a {
    background-color: #3080E2;
    color: #ffffff;
    font-size: 14px;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
    transition: border 0.5s, border-radius 0.5s, box-shadow 0.5s;
}

 .ep_nft_content .ep_nft_button button:hover a {
    background-color: rgb(46, 142, 238);
    color: #ffffff;
}

.ep-nft-gallery-wrapper .ep_nft_content_wrap.ep_nft__wrapper.ep-preset-1 .ep_nft_item:hover .ep_nft_button {
    opacity: 1;
    transform: translate(0);
    visibility: visible;
}


.ep-nft-gallery-wrapper.ep-nft-gallery-r1a5mbx .ep_nft_button:hover a {
    background-color: rgb(46, 142, 238);
    color: #ffffff;
}

.ep-nft-gallery-wrapper .ep_nft_content_wrap.ep_nft__wrapper.ep-preset-1 .ep_nft_item:hover .ep_nft_button {
    opacity: 1;
    transform: translate(0);
    visibility: visible;
}

.ep-nft-gallery-wrapper .ep_nft_content_wrap.ep_nft__wrapper.ep-preset-1 .ep_nft_item .ep_nft_button {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    transform: translateY(30px);
    visibility: hidden;
    width: 100%;
    transition:0.3s;
}
.ep-nft-gallery-wrapper.ep-nft-gallery-r1a5mbx .ep_nft_button{
    margin-top: auto;
}
.ep-nft-gallery-wrapper.ep-nft-gallery-r1a5mbx .ep_nft_button a {
    background-color: #3080E2;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 20px;
    transition: border 0.5s, border-radius 0.5s, box-shadow 0.5s;
    display: block;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
}

/* mimmikcssStart */



/* NFT List item CSS */

.ep_nft_content_wrap.ep_nft__wrapper.nft_items.ep-list .ep_nft_item {
    display: flex;
    gap: 15px;
    align-items: center;
    border-radius: 10px;
}
.ep_nft_content_wrap.ep_nft__wrapper.nft_items.ep-list .ep_nft_item .ep_nft_thumbnail {
    width: 55%;
}
.ep_nft_content_wrap.ep_nft__wrapper.nft_items.ep-list .ep_nft_item .ep_nft_content {
    width: calc( 45% - 15px );
}

.ep_nft_content_wrap.ep_nft__wrapper.nft_items.ep-list .ep_nft_item .ep_nft_content .ep_nft_price.ep_nft_last_sale {
    margin-bottom: 15px;
}

.ep_nft_content_wrap.ep_nft__wrapper.nft_items .ep_nft_item .ep_nft_thumbnail svg {
    border-radius: 10px;
}

.ep_nft_content_wrap.ep_nft__wrapper.nft_items.ep-list .ep_nft_item .ep_nft_thumbnail img {
    height: 260px;
}
.ep_nft_content_wrap.ep_nft__wrapper.nft_items.ep-list .ep_nft_item .ep_nft_button a{
    border-radius: 10px;
}
.ep_nft_content_wrap.ep_nft__wrapper.nft_items .ep_nft_item .ep_nft_button a{
    border-radius: 10px;
}
.ep-nft-gallery-wrapper .ep_nft_content_wrap.ep_nft__wrapper.ep-preset-1 .ep_nft_item .ep_nft_button a{
    border-radius: 0;
}

.ep_nft_content_wrap.ep_nft__wrapper.nft_items.ep-grid.ep-preset-2 .ep_nft_content .ep_nft_price:last-child{
	margin-bottom: 15px;
}

/* mimmikcssEnd */

@media all and (max-width: 1024px) {

    /* tabcssStart */
    .ep_nft_content_wrap.ep_nft__wrapper,
    .ep_nft_content_wrap.ep_nft_list {
        grid-template-columns: repeat(3, 1fr) !important;
    }

	.alignleft .ose-opensea, .alignright .ose-opensea, .aligncenter .ose-opensea {
        max-width: 100%!important;
    }

    /* tabcssEnd */

}

@media all and (max-width: 991px) {

    /* tabcssStart */
    .ose-opensea {
        min-width: auto !important;
		max-width: 100%!important;
    }

    .ep_nft_content_wrap.ep_nft__wrapper,
    .ep_nft_content_wrap.ep_nft_list {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    /* tabcssEnd */

}

@media all and (max-width: 767px) {

    /* mobcssStart */
    .ep_nft_content_wrap.ep_nft__wrapper,
    .ep_nft_content_wrap.ep_nft_list {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    /* mobcssEnd */

}