.svn
.git
.DS_Store
wpcom-helper.php

/local.sh
node_modules
package-lock.json
/.properties.ini

/packages
#/vendor removed vendor folder so that git pull can bring the easily without composer
.idea
/dist

#Suggested by Manzur Bhai
composer.lock
.vscode/launch.json
