/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.wp-block-embedpress-embedpress iframe,
.wp-block-embedpress-calendar iframe
{
	max-width: 100%;
}

.block-editor-block-list__layout .wp-block figure,
.block-editor-block-list__layout .wp-block iframe
{
	margin:0;
}
@media screen and (max-width: 782px) {
	.block-editor-block-list__layout .wp-block figure,
	.block-editor-block-list__layout .wp-block iframe
	{
		height:250px;
	}
}


/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.editor-block-list__block[data-align=right] > .editor-block-list__block-edit {
	float: right;
}
.wp-block[data-align=left], .wp-block[data-align=right] {
	height: auto !important;
}
@media only screen and (min-width: 482px) {
	.editor-styles-wrapper .wp-block[data-align=right] > *,
	.editor-styles-wrapper .wp-block[data-align=left] > *{
		max-width: 100% !important;
	}
}
.editor-styles-wrapper .wp-block[data-align=center]{
	text-align: center;
}
// .editor-styles-wrapper .wp-block[data-align=center] > *:not(style) {
// 	display: inline-table;
// }
.editor-styles-wrapper .wp-block::after,
.clear::after{
	content: '';
	display: block;
	clear: both;
	min-height: 1px;
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
