/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */


.pdfobject-container {
	height: 600px;
    width:600px;
}

.embedpress-el-powered {
  text-align: center;
  margin-top: 0 !important;
  font-size: 12px !important;
}


