@font-face {
  font-family: 'DMSans-Regular';
  src: url('DMSans-Regular.svg#DMSans-Regular') format('svg'),
       url('DMSans-Regular.ttf') format('truetype'),
       url('DMSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('DMSans.eot');
  src: url('DMSans.eot?#iefix') format('embedded-opentype'),
       url('DMSans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

