// Button design 
@mixin button-emphasis-variant($parent, $color) {
	#{$parent} {
		&:not(.hover__highlight){
			background: $color;
			color: set-button-color($color);
			border-color: $color;
			@include transition-properties(background, color, box-shadow, border);
			&:disabled{
				cursor: not-allowed;
				background: $danger;
				border-color: $danger;
			}
			.icon{
				color: $color;
				background: set-button-color($color);
			}
		}
		&.hover__highlight{
			color: $color;
			border-color: transparent; 
			background: rgba($color, .1);
			.icon{
				background: $primary;
				color: $white;
			}
			&:hover {
				border-color: transparent;
			}
		}
		&.button__shadow {
			box-shadow: 0 10px 10px rgba($color, .2);
		}
	}

	a#{$parent},
	button#{$parent} {
		&.active,
		&:hover {
			&:disabled{
				cursor: not-allowed;
				background: $danger;
				box-shadow: none;
			}
			@if $color != #000000 {
				background: darken($color, 5%) ;
				color: set-button-color($color);
				border-color: darken($color, 5%) ;
				text-shadow: 0 1px 1px rgba(set-button-color($color), 0.3);
			}
		}
		&.hover__highlight{
			&:hover {
				.icon{
					background: set-button-color($color);
					color: $color;
				}
			}
		}
	}
}


// alert design
@mixin alert-emphasis-variant($parent, $color) {
	#{$parent} {
		background: rgba($color, .1);
		color: $color;
		border-color: transparent ;
		@include transition;
		@include transition-properties(background, color, box-shadow, border);
	}
	a#{$parent},
	button#{$parent} {
		&.active,
		&:hover {
			@if $color != #000000 {
				background: $color;
				color: set-text-color($color);
				border-color: transparent;
			}
		}
	}
}

// badge design
@mixin badge-emphasis-variant($parent, $color) {
	#{$parent} {
		background: $color;
		color: $white;
	}
}