:root{
	--base-gutter: 30px;
	--md-gutter: 50px;
	--lg-gutter: 70px;
	--xl-gutter: 100px;
	--base-spacer-x: 16px;
	--base-spacer-y: 16px;
	--b-radius-6: 25px;
	@include respond-below(xxl){
		--base-gutter: 20px;
		--md-gutter: 30px;
		--lg-gutter: 50px;
		--xl-gutter: 70px;
	}
	@include respond-below(xl){
		--base-gutter: 20px;
		--md-gutter: 30px;
		--lg-gutter: 40px;
		--xl-gutter: 50px;
	}
    @include respond-below(lg){
		--base-spacer-x: 10px;
		--base-spacer-y: 10px;
		--md-gutter: 20px;
		--lg-gutter: 30px;
		--xl-gutter: 40px;
    }
    @include respond-below(md){
		--base-spacer-x: 5px;
		--base-spacer-y: 5px;
		--md-gutter: 20px;
		--lg-gutter: 30px;
		--xl-gutter: 40px;
    }
}

// Fonts
$headerFont: 'DM Sans', sans-serif;
$bodyFont: 'DM Sans', sans-serif;

// color
$themeColor: 	#5B4E96 !default;
$primary: 		#00CC76 !default;
$danger: 		#FE504F !default;
$warning: 		#FFA53C !default;
$white: 		#ffffff !default;
$black: 		#000000 !default;
$dark: 			#222222 !default;
$darkBlue: 		#131F4D !default;
$astronaut: 	#25396F !default;
$wildBlue:		#7C8DB5 !default;
$grey: 			#7C8DB5 !default;
$grey2: 		#F5F7FD !default;
$selago:		#E6EFFB !default;
$liteGrey:		#F5F7FD !default;
$twitter: 		#1da1f2 !default;
$linkedin: 		#0077b5 !default;
$instagram: 	#e1306c !default;

// $template-color: #E6EFFB; 5F729F

// theme-color
$theme-colors: () !default;
$theme-colors: map-merge(
	(
		'themeColor': $themeColor,
		'primary': $primary,
		'danger': $danger,
		'warning': $warning,
		'white': $white,
		'dark': $dark,
		'grey': $grey,
		'liteGrey': $liteGrey,
		'black': $black,
		'twitter': $twitter,
		'linkedin': $linkedin,
		'instagram': $instagram,
	),
	$theme-colors
);
