// mixind

@import "./mixind/base.scss";
@import "./mixind/variable.scss";
@import "./mixind/mixin";

// utilites
@import "./utilities/global.scss";
@import "./utilities/additional.scss";

.epob-spinner {
    width: 14px;
    height: 14px;
    border: 2px solid #ffffff;
    border-top: 2px solid #5b4e96;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto;
    position: relative;
    top: -6px;
    position: absolute;
    z-index: 1;
    left: 2px;
}

.epob-toggle_switch .epob-spinner {
    margin: 8px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
