// Custom styles for UpgradePro component

.epob-configuring_list {
    .epob-configuring_list-item {
        display: flex;
        .epob-check_icon {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .epob-spinner {
                position: relative;
                top: 0;
                left: 0;
                margin: 0;
                width: 16px;
                height: 16px;
                border: 2px solid #d5d4db;
                border-top: 2px solid #5b4e96;
            }
        }
    }
}
