@font-face {
    font-family: 'el-icon';
    src:  url('../fonts/el-icon.eot?u9p5gz');
    src:  url('../fonts/el-icon.eot?u9p5gz#iefix') format('embedded-opentype'),
    url('../fonts/el-icon.ttf?u9p5gz') format('truetype'),
    url('../fonts/el-icon.woff?u9p5gz') format('woff'),
    url('../fonts/el-icon.svg?u9p5gz#el-icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'el-icon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-embedpress:before {
    content: "\e900";
    color: #556068;
}
.icon-pdf:before {
    content: "\e926";
    color: #556068;
}
