/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.embedpress-document-editmode .components-placeholder__instructions:after {
  content:"\ASupported File Type: PDF, DOC, PPT, XLS etc ";
  white-space: pre;
}
.wp-block-embedpress-embedpress-pdf + *
{
	clear: both;
}

.embedpress-document-editmode .components-placeholder__instructions:after {
	display: none !important;
}

// Width control with tooltip styles
.ep-width-control-with-tooltip {
	svg {
		width: 16px;
		height: 16px;
		vertical-align: middle;
	}

	// Tooltip max-width
	.components-tooltip {
		max-width: 200px;
	}
}
