

.form__control {
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    background: $white;
    border: 1px solid $selago;
    color: $astronaut;
    width: 100%;
    @include placeholder {
        color: $astronaut;
    }
}

.template__wrapper {
    label {
        @include fontStyle(16px, 400, $wildBlue);
        @extend %bodyFont;
        margin-bottom: 8px;
    }
}

.embedpress__select {
    position: relative;
    span {
        position: absolute;
        top: 12px;
        right: 15px;
        font-size: 12px;
        color: $astronaut;
        pointer-events: none;
    }
    select {
        height: 40px;
        padding: 0 20px;
        border-radius: 5px;
        background: $white;
        border: 1px solid $selago;
        color: $astronaut;
        width: 100%;
        appearance: none;
    }
}

.input__radio {
    position: relative;
    padding-left: 25px;
    input {
        display: none;
        &:checked ~ span {
            &:after {
                opacity: 1;
            }
        }
    }
    span {
        cursor: pointer;
        &:before {
            position: absolute;
            top: 5px;
            left: 0;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            border: 1px solid rgba($themeColor, .1);
            content: '';
        }
        &:after {
            position: absolute;
            top: 8px;
            left: 3px;
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background: $themeColor;
            content: '';
            opacity: 0;
        }
    }
}

.template__wrapper {
    .input__switch {
        font-size: 0;
        cursor: pointer;
        input {
            display: none;
            &:checked ~ span {
                background: $themeColor;
                &:before {
                    left: 15px;
                }
            }
        }
        span {
            height: 17px;
            width: 30px;
            background: rgba($themeColor, .3);
            display: inline-block;
            border-radius: 15px;
            position: relative;
            transition: all .3s ease;
            &:before {
                position: absolute;
                top: 2px;
                left: 2px;
                height: 13px;
                width: 13px;
                border-radius: 50%;
                background: $white;
                content: '';
                transition: all .3s ease;
            }
        }
        &.switch__text {
            border: 1px solid $selago;
            display: inline-block;
            padding: 10px 50px;
            border-radius: 5px;
            position: relative;
            &:before,
            &:after {
                @include fontStyle(14px, 400, $astronaut);
                position: absolute;
                top: 7px;
            }
            &:before {
                content: 'OFF';
                left: 10px;
            }
            &:after {
                content: 'ON';
                right: 10px;
            }
        }
    }
}

.input__file {
    display: block;
    border: 1px solid $selago;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    // background: $selago;
    .form__control {
        display: none;
    }
}

.form__group {
    margin-bottom: 25px;
    &.mb0 {
        margin-bottom: 0;
    }
}

.iframe__size__control__form {
    .form__group {
        display: flex;
        align-items: center;
        @include respond-below(xs) {
            display: block;
        }
        &:last-child {
            margin-bottom: 0;
        }
        label {
            flex: 0 0 240px;
            margin-bottom: 0;
            @include respond-below(xs) {
                margin-bottom: 10px;
                font-weight: 700;
                margin-right: 15px;
                &:after {
                    content: ':';
                }
            }
            @include respond-below(xxs) {
                display: block;
            }
        }
        .form__control {
            width: 80px;
            padding: 0 15px;
            margin-right: 20px;
        }
        .frame__unit {
            @include fontStyle(16px, 400, $wildBlue);
            @extend %bodyFont;
        }
    }
}

.iframe__size__control__wrap {
    flex: 0 0 40%;
    h3 {
        @include fontStyle(30px, 700, $darkBlue);
        @extend %bodyFont;
        margin-bottom: 25px;
        @include respond-below(sm) {
            font-size: 24px;
        }
        @include respond-below(xs) {
            font-size: 20px;
        }
    }
}

.embedpress__settings__form {
    .form__group {
        display: flex;
        align-items: flex-start;
        @include respond-below(sm) {
            display: block;
        }
        .form__label {
            flex: 0 0 410px;
            @include fontStyle(16px, 400, $wildBlue);
            @extend %bodyFont;
            .isPro {
                @include fontStyle(10px, 400, $white);
                background: $themeColor;
                border-radius: 20px;
                padding: 2px 5px;
                margin-left: 10px;
                text-transform: uppercase;
            }
            @include respond-below(xl) {
                flex: 0 0 300px;
            }
            @include respond-below(sm) {
                margin-bottom: 10px;
                font-weight: 700;
                &:after {
                    content: ':';
                }
            }
        }
        .form__control__wrap {
            flex-grow: 1;
            &--flex {
                display: flex;
            }
            .input__flex {
                display: flex;
                align-items: center;
                label:not(:last-child) {
                    margin-right: 20px;
                }
                .form__control[type="number"] {
                    width: 80px;
                    margin-right: 20px;
                    padding: 0 15px;
                }
                .frame__unit {
                    line-height: 1;
                }
            }
            .input__file,
            .form__control,
            .embedpress__select {
                max-width: 300px;
            }
            p {
                @include fontStyle(14px, 400, $wildBlue);
                @extend %bodyFont;
                margin-top: 10px;
            }
        }
    }
}

.frame__size__wrap {
    display: flex;
    @include respond-below(lg) {
        display: block;
    }
}

.form__inline {
    display: flex;
    .form__group {
        margin-bottom: 0;
        margin-right: 30px;
    }
}

.logo__adjust__wrap {
    margin-top: 20px;
    .logo__upload {
        display: inline-block;
        width: 255px;
        border-radius: 10px;
        border: 2px dashed rgba($wildBlue, .3);
        background: $liteGrey;
        padding: 40px 15px;
        text-align: center;
        position: relative;
        @include respond-below(xxs) {
            width: 225px;
        }
        .icon {
            margin-bottom: 10px;
            display: block;
            i {
                font-size: 50px;
                opacity: .3;
            }
        }
        .text {
            display: block;
            font-size: 14px;
        }
        input {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 9;
            cursor: pointer;
        }
    }
    .logo__adjust {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        .logo__adjust__controller {
            flex: 0 0 300px;
            margin-right: 30px;
            @include respond-below(xxs) {
                flex: 0 0 225px;
                margin-right: 0;
            }
            .logo__adjust__controller__item {
                &:not(:last-child) {
                    margin-bottom: 25px;
                }
                .controller__label {
                    @include fontStyle(16px, 400, $wildBlue);
                    display: inline-block;
                }
                .logo__adjust__controller__inputs {
                    display: flex;
                    align-items: center;
                    input[type="range"] {
                        margin-right: 20px;
                        width: 200px;
                        @include respond-below(xxs) {
                            width: 145px;
                        }
                    }
                    .form__control[type="number"] {
                        width: 80px;
                        padding: 0 15px;
                        @include respond-below(xxs) {
                            width: 60px;
                        }
                    }
                }
            }
        }
        .logo__adjust__preview {
            flex: 0 0 400px;
            @include respond-below(lg) {
                flex: 0 0 310px;
            }
            @include respond-below(xxs) {
                flex: 0 0 225px;
            }
            .title {
                @include fontStyle(16px, 400, $wildBlue);
                display: inline-block;
                margin-bottom: 10px;
            }
            .preview__box {
                height: 226px;
                // aspect-ratio: 16 / 9;
                position: relative;
                iframe {
                    width: 100%;
                    height: 100%;
                }
                img {
                    position: absolute;
                    bottom: 10%;
                    right: 6%;
                    max-width: 50%;
                }
            }
        }
    }
}

// Input Range Slider Custom Code Start Here
.template__wrapper {
    input[type=range] {
        height: 24px;
        -webkit-appearance: none;
        margin: 10px 0;
        width: 100%;
    }
        input[type=range]:focus {
        outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #5B4E96;
        border-radius: 5px;
        border: 2px solid #F5F7FD;
    }
    input[type=range]::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 2px solid #5B4E96;
        height: 16px;
        width: 16px;
        border-radius: 8px;
        background: #FFFFFF;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -5px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #5B4E96;
    }
    input[type=range]::-moz-range-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #5B4E96;
        border-radius: 5px;
        border: 2px solid #F5F7FD;
    }
    input[type=range]::-moz-range-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 2px solid #5B4E96;
        height: 16px;
        width: 16px;
        border-radius: 8px;
        background: #FFFFFF;
        cursor: pointer;
    }
    input[type=range]::-ms-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }
    input[type=range]::-ms-fill-lower {
        background: #5B4E96;
        border: 2px solid #F5F7FD;
        border-radius: 10px;
        box-shadow: 0px 0px 0px #000000;
    }
    input[type=range]::-ms-fill-upper {
        background: #5B4E96;
        border: 2px solid #F5F7FD;
        border-radius: 10px;
        box-shadow: 0px 0px 0px #000000;
    }
    input[type=range]::-ms-thumb {
        margin-top: 1px;
        box-shadow: 0px 0px 0px #000000;
        border: 2px solid #5B4E96;
        height: 16px;
        width: 16px;
        border-radius: 8px;
        background: #FFFFFF;
        cursor: pointer;
    }
    input[type=range]:focus::-ms-fill-lower {
        background: #5B4E96;
    }
    input[type=range]:focus::-ms-fill-upper {
        background: #5B4E96;
    }
}
// Input Range Slider Custom Code End Here