

.embedpress-tab {
    .nav__menu {
        ul {
            display: flex;
            &.menu__grow {
                .nav__item {
                    flex-grow: 1;
                    text-align: center;
                    span {
                        width: 100%;
                        @include respond-below(sm) {
                            padding: 10px;
                        }
                    }
                }
            }
            &:not(.menu__grow) {
                @include respond-below(xxs) {
                    display: block;
                    .nav__item {
                        &:not(:last-child) {
                            margin-right: 0;
                        }
                        &:first-child {
                            span {
                                border-top-right-radius: 10px;
                            }
                        }
                        &:last-child {
                            span {
                                border-top-right-radius: 0;
                            }
                        }
                        span {
                            @include respond-below(xxs) {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .nav__item {
                margin-bottom: 5px;
                @include fontStyle(20px, 400, $themeColor);
                @extend %bodyFont;
                display: flex;
                justify-content: center;
                align-items: center;
                @include respond-below(sm) {
                    font-size: 16px;
                }
                @include respond-below(xs) {
                    font-size: 14px;
                }
                i {
                    margin-right: 10px;
                }
                &.active {
                    span {
                        background: $themeColor;
                        color: $white;
                    }
                }
                span {
                    padding: 16px 20px;
                    cursor: pointer;
                    background: $white;
                    @include respond-below(sm) {
                        // padding: 10px;
                    }
                }
                &:not(:last-child) {
                    margin-right: 5px;
                }
                &:first-child {
                    span {
                        border-top-left-radius: 10px;
                    }
                }
                &:last-child {
                    span {
                        border-top-right-radius: 10px;
                    }
                }
            }
        }
    }
    .tab__item {
        display: none;
        border-radius: 20px;
        border-top-left-radius: 0;
        overflow: hidden;
        &.active {
            display: block;
        }
    }
}

.embedpress__settings {
    h3 {
        @include fontStyle(30px, 700, $darkBlue);
        margin-bottom: 25px;
        @include respond-below(sm) {
            font-size: 24px;
        }
        @include respond-below(xs) {
            font-size: 20px;
        }
    }
}

