@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6wwmrx');
  src:  url('fonts/icomoon.eot?6wwmrx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6wwmrx') format('truetype'),
    url('fonts/icomoon.woff?6wwmrx') format('woff'),
    url('fonts/icomoon.svg?6wwmrx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ep-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ep-file:before {
  content: "\e900";
}
.ep-ads:before {
  content: "\e839";
}
.ep-star:before {
  content: "\e901";
}
.ep-support:before {
  content: "\e902";
}
.ep-cell:before {
  content: "\e903";
}
.ep-gear:before {
  content: "\e904";
}
.ep-premium:before {
  content: "\e905";
}
.ep-caret-down:before {
  content: "\e906";
}
.ep-question:before {
  content: "\e907";
}
.ep-lock:before {
  content: "\e908";
}
.ep-branding:before {
  content: "\e909";
}
.ep-upload:before {
  content: "\e90a";
}
.ep-bar:before {
  content: "\e90b";
}
.ep-code:before {
  content: "\e90c";
}
.ep-copy:before {
  content: "\e90d";
}
.ep-platform:before {
  content: "\e90e";
}
.ep-cross:before {
  content: "\ea0f";
}
.ep-link-icon:before {
  content: "\e90f";
}
.ep-tick:before {
  content: "\e910";
}
