<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/icon/style.css" />
    <link rel="stylesheet" href="assets/css/style.min.css">
    <title>Embed Press</title>
</head>
<body>

    <div class="template__wrapper background__liteGrey p30 pb50">
        <div class="embedpress__container">
            <header class="embedpress-header">
                <a href="#" class="site__logo"><img src="assets/img/logo.svg" alt=""></a>
            </header>
            <div class="embedpress-body mb30">
                <div class="embedpress-sidebar">
                    <a href="#" class="sidebar__toggler"><i class="ep-icon ep-bar"></i></a>
                    <ul class="sidebar__menu">
                        <li class="sidebar__item sidebar__dropdown">
                            <a href="#" class="sidebar__link sidebar__link--toggler"><span><i class="ep-icon ep-gear"></i></span> General</a>
                            <ul class="dropdown__menu">
                                <li class="dropdown__item">
                                    <a href="#" class="dropdown__link active">Settings</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="#" class="dropdown__link">YouTube</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="#" class="dropdown__link">Vimeo</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="#" class="dropdown__link">Wistia</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="#" class="dropdown__link">Twitch</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar__item"><a href="#" class="sidebar__link"><span><i class="ep-icon ep-cell"></i></span> Elements</a></li>
                        <li class="sidebar__item sidebar__dropdown">
                            <a href="#" class="sidebar__link sidebar__link--toggler"><span><i class="ep-icon ep-branding"></i></span> Branding</a>
                            <ul class="dropdown__menu">
                                <li class="dropdown__item">
                                    <a href="#" class="dropdown__link">Custom Logo</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar__item"><a href="#" class="sidebar__link"><span><i class="ep-icon ep-premium"></i></span> Go Premium</a></li>
                    </ul>
                </div>
                <div class="embedpress-content">
                    <div class="upgrade__card mb30">
                        <div class="icon">
                            <img src="assets/img/site-icon.svg" alt="">
                        </div>
                        <div class="card__content">
                            <h4>Upgrade To Pro</h4>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
                        </div>
                        <a href="#" class="button button__white radius-10">Upgrade To Pro</a>
                    </div>
                    <div class="embedpress__settings background__white radius-25 p40">
                        <h3>Youtube Settings</h3>
                        <div class="embedpress__settings__form">
                            <form action="#">
                                <div class="form__group">
                                    <p class="form__label">Auto Play</p>
                                    <div class="form__control__wrap">
                                        <div class="input__flex">
                                            <label class="input__radio">
                                                <input type="radio" name="autoplay">
                                                <span>No</span>
                                            </label>
                                            <label class="input__radio">
                                                <input type="radio" name="autoplay">
                                                <span>Yes</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__group">
                                    <p class="form__label">Progress bar color</p>
                                    <div class="form__control__wrap">
                                        <div class="embedpress__select">
                                            <span><i class="ep-icon ep-caret-down"></i></span>
                                            <select>
                                                <option value="">Red</option>
                                                <option value="">Green</option>
                                                <option value="">Blue</option>
                                                <option value="">White</option>
                                                <option value="">Orange</option>
                                            </select>
                                        </div>
                                        <p>Specifies the color that will be used in the player's video progress bar to highlight the amount of the video that the viewer has already seen. <br> Note: Setting the color to white will disable the Modest Branding option (causing a YouTube logo to be displayed in the control bar).</p>
                                    </div>
                                </div>
                                <div class="form__group">
                                    <p class="form__label">Force Closed Captions</p>
                                    <div class="form__control__wrap">
                                        <div class="input__flex">
                                            <label class="input__radio">
                                                <input type="radio" name="close">
                                                <span>No</span>
                                            </label>
                                            <label class="input__radio">
                                                <input type="radio" name="close">
                                                <span>Yes</span>
                                            </label>
                                        </div>
                                        <p>Setting this option to Yes causes closed captions to be shown by default, even if the user has turned captions off. This will be based on user preference otherwise.</p>
                                    </div>
                                </div>
                                <div class="form__group">
                                    <p class="form__label">Display Controls <span class="isPro">Pro</span></p>
                                    <div class="form__control__wrap">
                                        <div class="embedpress__select">
                                            <span><i class="ep-icon ep-caret-down"></i></span>
                                            <select disabled>
                                                <option value="">Display immediately</option>
                                                <option value="">Display immediately</option>
                                                <option value="">Display immediately</option>
                                                <option value="">Display immediately</option>
                                                <option value="">Display immediately</option>
                                                <option value="">Display immediately</option>
                                            </select>
                                        </div>
                                        <p>Indicates whether the video player controls are displayed.</p>
                                    </div>
                                </div>
                                <div class="form__group">
                                    <p class="form__label">Enable Fullscreen button</p>
                                    <div class="form__control__wrap">
                                        <div class="input__flex">
                                            <label class="input__radio">
                                                <input type="radio" name="fullscreen">
                                                <span>No</span>
                                            </label>
                                            <label class="input__radio">
                                                <input type="radio" name="fullscreen">
                                                <span>Yes</span>
                                            </label>
                                        </div>
                                        <p>Indicates whether the fullscreen button is enabled.</p>
                                    </div>
                                </div>
                                <div class="form__group">
                                    <p class="form__label">Display video annotations <span class="isPro">Pro</span></p>
                                    <div class="form__control__wrap">
                                        <div class="embedpress__select">
                                            <span><i class="ep-icon ep-caret-down"></i></span>
                                            <select disabled>
                                                <option value="">Display</option>
                                                <option value="">Display</option>
                                                <option value="">Display</option>
                                                <option value="">Display</option>
                                                <option value="">Display</option>
                                                <option value="">Display</option>
                                            </select>
                                        </div>
                                        <p>Indicates whether video annotations are displayed.</p>
                                    </div>
                                </div>
                                <div class="form__group">
                                    <p class="form__label">Display related videos</p>
                                    <div class="form__control__wrap">
                                        <div class="input__flex">
                                            <label class="input__radio">
                                                <input type="radio" name="displayrelated">
                                                <span>No</span>
                                            </label>
                                            <label class="input__radio">
                                                <input type="radio" name="displayrelated">
                                                <span>Yes</span>
                                            </label>
                                        </div>
                                        <p>Indicates whether the player should show related videos when playback of the initial video ends.</p>
                                    </div>
                                </div>
                                <div class="form__group">
                                    <p class="form__label">Modest Branding</p>
                                    <div class="form__control__wrap">
                                        <div class="embedpress__select">
                                            <span><i class="ep-icon ep-caret-down"></i></span>
                                            <select>
                                                <option value="">Display</option>
                                                <option value="">Display</option>
                                                <option value="">Display</option>
                                                <option value="">Display</option>
                                                <option value="">Display</option>
                                                <option value="">Display</option>
                                            </select>
                                        </div>
                                        <p>Indicates whether the player should display a YouTube logo in the control bar.</p>
                                    </div>
                                </div>
                                <button class="button button__themeColor radius-10">Save Changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="background__white radius-25 p40">
                <div class="embedpress__row grid__3">
                    <div class="embedpress-card">
                        <div class="icon">
                            <i class="ep-icon ep-file"></i>
                        </div>
                        <h3>Documentation</h3>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <a href="#" class="button radius-10">Documentation</a>
                    </div>
                    <div class="embedpress-card">
                        <div class="icon">
                            <i class="ep-icon ep-support"></i>
                        </div>
                        <h3>Need Help?</h3>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <a href="#" class="button radius-10">Get Support</a>
                    </div>
                    <div class="embedpress-card">
                        <div class="icon">
                            <i class="ep-icon ep-star"></i>
                        </div>
                        <h3>Show Your Love</h3>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <a href="#" class="button radius-10">Leave A Review</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.3.6.0.js"></script>
    <script src="assets/js/custom.js"></script>
    </body>
</html>
